@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap");

$background-color: hsl(30, 38%, 92%);
$button-price-color: hsl(158, 36%, 37%);
$heading-color: hsl(212, 21%, 14%);
$box-background-color: hsl(0, 0%, 100%);
$paragraphs-color: hsl(228, 12%, 48%);
$font-one: "Fraunces", serif;
$font-two: "Montserrat", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-two;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: $background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .box {
    width: 700px;
    height: 525px;
    background-color: $box-background-color;
    border-radius: 10px;
    display: flex;
    .photo {
      width: 50%;
      height: 100%;
      .desktop-photo {
        width: 100%;
        .desktop {
          width: 350px;
          border-radius: 10px 0 0 10px;
        }
      }
      .mobile-photo {
        display: none;
      }
    }
    .text {
      width: 50%;
      padding: 2.5rem;
      .head {
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $paragraphs-color;
      }
      h1 {
        font-family: $font-one;
        color: $heading-color;
      }
      .description {
        color: $paragraphs-color;
        line-height: 1.5;
      }
      .price {
        width: 80%;
        margin: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $button-price-color;
        .real {
          font-family: $font-one;
          font-size: 2rem;
        }
        .fake {
          text-decoration: line-through;
        }
      }
      .button {
        background-color: $button-price-color;
        color: $box-background-color;
        width: fit-content;
        padding: 1rem 4rem;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.4s;
        svg {
          margin-right: 2px;
        }
      }
      .button:hover {
        background-color: hsl(158deg 36% 16%);
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 5px;
    p {
      font-size: 11px;
      text-align: center;
      a {
        color: hsl(228, 45%, 44%);
      }
    }
  }
}

@media (max-width: 769px) {
  .container {
    .box {
      width: 60%;
      height: unset;
      flex-direction: column;
      .photo {
        width: 100%;
        height: unset;
        .desktop-photo {
          display: none;
        }
        .mobile-photo {
          display: block;
          .mobile {
            max-width: 100%;
            border-radius: 10px 10px 0 0;
          }
        }
      }
      .text {
        width: 100%;
        padding: 1.5rem;
        .price {
          width: 70%;
        }
      }
    }
  }
}

@media (max-width: 426px) {
  .container {
    .box {
      width: 90%;
      height: unset;
      flex-direction: column;
      .photo {
        width: 100%;
        height: unset;
        .desktop-photo {
          display: none;
        }
        .mobile-photo {
          display: block;
          width: 100%;
          .mobile {
            max-width: 100%;
            border-radius: 10px 10px 0 0;
          }
        }
      }
      .text {
        width: 100%;
        padding: 2rem;
        .head {
          font-size: 14px;
        }
        h1 {
          font-size: 25px;
        }
        .description {
          font-size: 14px;
        }
        .price {
          width: 85%;
          margin: 1rem 0;
          .real {
            font-size: 25px;
          }
          .fake {
            font-size: 14px;
          }
        }
        .button {
          padding: 1rem 2rem;
        }
      }
    }
    .footer {
      p {
        font-size: 9px;
      }
    }
  }
}
